body {
    text-align: center;
    font-family: Helvetica, "Open Sans", sans-serif;
    font-size: 1em;
}
#container {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

#master, #website, #password {
    border: solid 1px #ccc;
    margin: 5px 0;
    /*border-radius: 0.5em;*/
    padding: 0.2em 0.5em;
    font-size: 1em;
}
.mem-button {
    display: none;
    font-size: 1em;
    line-height: 1em;
    padding: 0;
    margin: -1;
    float: right;

    border: none;
    background-color: white;
    color: #428bca;
    text-decoration: underline;
}
#master.thinking {
    /* border-color: #6f5499; */
}
#master.correct {
    border-color: #0F0;
}
#master.incorrect {
    border-color: red;
}
input:focus, input:invalid {
    outline: none;
    box-shadow: none;
}
a {
    color: #428bca;
}
body {
    margin: 0; padding: 0; position: relative;
}
h1 {
    margin: 0;
    color: white;
    padding: 20px 20px;
    letter-spacing: 1.4;
    font-weight: normal;
    font-size: 2em;
    background: #6f5499;
    margin-bottom: 15px;
}
label {
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}
.insecure-warning {
    color: #f00;
    margin: 0;
    padding: 20px 20px;
    letter-spacing: 1.4;
    font-weight: normal;
    background: #700;
    display: none;
}
.strike {
    text-decoration: line-through;
    color: black;
}
#github {
    color: #777;
    font-size: 0.8em;
    position: absolute;
    bottom: 10px;
    left: 10px;
}